<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--当前服务器IP-->
    <add key="sms_ipaddress" value="10.128.23.50"/>
    <!--信令服务器IP-->
    <add key="cms_ipaddress" value="10.110.200.168"/>
    <add key="udp_start_port" value="20000"/>
    <add key="udp_end_port" value="22000"/>
    <!--当前服务器权重-->
    <add key="weight" value="50"/>
    <!--流媒体保活时间周期，单位:秒-->
    <add key="media_keeplive_second" value="2"/>
    <!--是否启用无人观看自动停止流，0：否，1：是-->
    <add key="no_reader_close" value="0"/>
    <!--流无人观看检测周期，单位:毫秒-->
    <add key="no_reader_check_second" value="20000"/>
    
    
    <!--测试用-->
    <add key="rtspurl" value="rtsp://admin:0123456a?@10.128.24.64:554/h264/ch1/main/av_stream"/>
    <!--<add key="rtspurl" value="50"/>-->
  </appSettings>
</configuration>
