# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
#*.exe
*.out
*.app
/X64/


*.DS_Store

/cmake-build-debug/
/cmake-build-release/
/linux/
/.vs/
/.idea/
/c_wrapper/.idea/
/release/
/Android/.idea/
/Android/app/src/main/cpp/libs_export/
/3rdpart/media-server/.idea/
/3rdpart/media-server/.idea/
/build/
/3rdpart/media-server/.idea/
/ios/
/aacEncoder.dir/Debug
/rtp.dir/Debug
/mpeg.dir/Debug
/mov.dir/Debug
/flv.dir/Debug
/CMakeFiles
/api
/zltoolkit.dir/Debug
/zlmediakit.dir/Debug
/Win32/Debug/ZERO_CHECK
/tests
/server
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/aacEncoder.vcxproj.filters
/aacEncoder.vcxproj
/CMakeCache.txt
*.vcxproj
*.filters
*.sln
/cmake_install.cmake
*.exe
*.user
/packages
/CSharpServer/.vs/CSharpServer/v15
/CSharpServer/bin/x86/Debug
/CSharpServer/obj
/Win32/Debug/ALL_BUILD
